.login-view-website {
    position: sticky;
    background-color: #1c1f22;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    color: #fff;
    padding: .5rem .5rem;
    font-size: 13px !important;
    z-index: 999
}

.login-view-website a {
    color: #fff;
    opacity: .8
}

.login-view-website a:hover {
    opacity: 1
}

.login-view-website a i {
    font-size: 11px
}

.login-copyright {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    text-align: center;
    padding: .5rem .5rem;
    font-size: 13px !important
}

.show-password {
    cursor: pointer;
    width: 45px;
    border-color: #ced4da !important;
    padding: .375rem;
    justify-content: center
}

.show-password.disabled {
    pointer-events: none;
    background-color: #e9ecef !important
}

.loader-wrapper {
    z-index: 99999999;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #eee;
    overflow: hidden;
    text-align: center
}

.loader-wrapper .loader {
    position: relative;
    top: calc(50% - 30px)
}

.loader-wrapper .loader p {
    font-size: 13px;
    margin-top: 10px;
    font-weight: 700;
    color: #444
}

.loader-wrapper .loader .preloader {
    display: inline-block;
    position: relative;
    width: 50px;
    height: 50px;
    -webkit-animation: container-rotate 1568ms linear infinite;
    animation: container-rotate 1568ms linear infinite
}

.loader-wrapper .loader .preloader .spinner-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    border-color: #007bff;
    -ms-opacity: 1;
    opacity: 1;
    -webkit-animation: fill-unfill-rotate 5332ms cubic-bezier(.4, 0, .2, 1) infinite both;
    animation: fill-unfill-rotate 5332ms cubic-bezier(.4, 0, .2, 1) infinite both
}

.loader-wrapper .loader .preloader .spinner-layer .circle-clipper {
    display: inline-block;
    position: relative;
    width: 50%;
    height: 100%;
    overflow: hidden;
    border-color: inherit
}

.loader-wrapper .loader .preloader .spinner-layer .circle-clipper .circle {
    width: 200%;
    height: 100%;
    border-width: 3px;
    border-style: solid;
    border-color: inherit;
    border-bottom-color: transparent !important;
    border-radius: 50%;
    -webkit-animation: none;
    animation: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0
}

.loader-wrapper .loader .preloader .spinner-layer .circle-clipper.float-left .circle {
    left: 0;
    border-right-color: transparent !important;
    -webkit-transform: rotate(129deg);
    transform: rotate(129deg);
    -webkit-animation: left-spin 1333ms cubic-bezier(.4, 0, .2, 1) infinite both;
    animation: left-spin 1333ms cubic-bezier(.4, 0, .2, 1) infinite both
}

.loader-wrapper .loader .preloader .spinner-layer .circle-clipper.float-right .circle {
    left: -100%;
    border-left-color: transparent !important;
    -webkit-transform: rotate(-129deg);
    transform: rotate(-129deg);
    -webkit-animation: right-spin 1333ms cubic-bezier(.4, 0, .2, 1) infinite both;
    animation: right-spin 1333ms cubic-bezier(.4, 0, .2, 1) infinite both
}

@-webkit-keyframes container-rotate {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes container-rotate {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@-webkit-keyframes fill-unfill-rotate {
    12.5% {
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg)
    }

    25% {
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg)
    }

    37.5% {
        -webkit-transform: rotate(405deg);
        transform: rotate(405deg)
    }

    50% {
        -webkit-transform: rotate(540deg);
        transform: rotate(540deg)
    }

    62.5% {
        -webkit-transform: rotate(675deg);
        transform: rotate(675deg)
    }

    75% {
        -webkit-transform: rotate(810deg);
        transform: rotate(810deg)
    }

    87.5% {
        -webkit-transform: rotate(945deg);
        transform: rotate(945deg)
    }

    to {
        -webkit-transform: rotate(1080deg);
        transform: rotate(1080deg)
    }
}

@keyframes fill-unfill-rotate {
    12.5% {
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg)
    }

    25% {
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg)
    }

    37.5% {
        -webkit-transform: rotate(405deg);
        transform: rotate(405deg)
    }

    50% {
        -webkit-transform: rotate(540deg);
        transform: rotate(540deg)
    }

    62.5% {
        -webkit-transform: rotate(675deg);
        transform: rotate(675deg)
    }

    75% {
        -webkit-transform: rotate(810deg);
        transform: rotate(810deg)
    }

    87.5% {
        -webkit-transform: rotate(945deg);
        transform: rotate(945deg)
    }

    to {
        -webkit-transform: rotate(1080deg);
        transform: rotate(1080deg)
    }
}

@-webkit-keyframes left-spin {
    from {
        -webkit-transform: rotate(130deg);
        transform: rotate(130deg)
    }

    50% {
        -webkit-transform: rotate(-5deg);
        transform: rotate(-5deg)
    }

    to {
        -webkit-transform: rotate(130deg);
        transform: rotate(130deg)
    }
}

@keyframes left-spin {
    from {
        -webkit-transform: rotate(130deg);
        transform: rotate(130deg)
    }

    50% {
        -webkit-transform: rotate(-5deg);
        transform: rotate(-5deg)
    }

    to {
        -webkit-transform: rotate(130deg);
        transform: rotate(130deg)
    }
}

@-webkit-keyframes right-spin {
    from {
        -webkit-transform: rotate(-130deg);
        transform: rotate(-130deg)
    }

    50% {
        -webkit-transform: rotate(5deg);
        transform: rotate(5deg)
    }

    to {
        -webkit-transform: rotate(-130deg);
        transform: rotate(-130deg)
    }
}

@keyframes right-spin {
    from {
        -webkit-transform: rotate(-130deg);
        transform: rotate(-130deg)
    }

    50% {
        -webkit-transform: rotate(5deg);
        transform: rotate(5deg)
    }

    to {
        -webkit-transform: rotate(-130deg);
        transform: rotate(-130deg)
    }
}

.sk-chase {
    width: 20.5px;
    height: 20.5px;
    margin: auto;
    position: relative;
    animation: sk-chase 2.5s infinite linear both
}

.sk-chase-dot {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    animation: sk-chase-dot 2s infinite ease-in-out both
}

.sk-chase-dot:before {
    content: '';
    display: block;
    width: 25%;
    height: 25%;
    background-color: #fff;
    border-radius: 100%;
    animation: sk-chase-dot-before 2s infinite ease-in-out both
}

.sk-chase-dot:nth-child(1) {
    animation-delay: -1.1s
}

.sk-chase-dot:nth-child(2) {
    animation-delay: -1s
}

.sk-chase-dot:nth-child(3) {
    animation-delay: -.9s
}

.sk-chase-dot:nth-child(4) {
    animation-delay: -.8s
}

.sk-chase-dot:nth-child(5) {
    animation-delay: -.7s
}

.sk-chase-dot:nth-child(6) {
    animation-delay: -.6s
}

.sk-chase-dot:nth-child(1):before {
    animation-delay: -1.1s
}

.sk-chase-dot:nth-child(2):before {
    animation-delay: -1s
}

.sk-chase-dot:nth-child(3):before {
    animation-delay: -.9s
}

.sk-chase-dot:nth-child(4):before {
    animation-delay: -.8s
}

.sk-chase-dot:nth-child(5):before {
    animation-delay: -.7s
}

.sk-chase-dot:nth-child(6):before {
    animation-delay: -.6s
}

@keyframes sk-chase {
    100% {
        transform: rotate(360deg)
    }
}

@keyframes sk-chase-dot {

    100%,
    80% {
        transform: rotate(360deg)
    }
}

@keyframes sk-chase-dot-before {
    50% {
        transform: scale(.4)
    }

    0%,
    100% {
        transform: scale(1)
    }
}

.my-alert.alert-primary {
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff
}

.my-alert.alert-secondary {
    color: #383d41;
    background-color: #e2e3e5;
    border-color: #d6d8db
}

.my-alert.alert-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba
}

.my-alert.alert-dark {
    color: #1b1e21;
    background-color: #d6d8d9;
    border-color: #c6c8ca
}

.my-alert.alert-light {
    color: #818182;
    background-color: #fefefe;
    border-color: #fdfdfe
}

.my-alert.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb
}

.my-alert.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb
}

.my-alert.alert-info {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb
}

.my-alert .close {
    outline: 0
}

.my-info-box {
    border-radius: 0;
    box-shadow: none;
    border: 1px solid #dee2e6
}

.my-info-box .my-info-box-icon {
    border-radius: 0
}

.w-clear:after {
    display: block;
    content: "";
    clear: both
}

.alert-user-login {
    position: absolute;
    top: 3.3rem;
    right: .3rem;
    z-index: 100
}

.main-sidebar {
    background-color: #1c1f22
}

.sidebar-mini.sidebar-collapse .text-sm .brand-link .brand-image {
    margin-left: 1.15rem
}

.nav-compact .nav-link>p>.right {
    top: .7rem
}

.brand-link {
    padding: .25rem .5rem 1rem .5rem;
    width: 100%;
    height: 95px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
    border-bottom: 0 !important;
    text-align: center;
    background-image: url(../images/logo-border.png);
    background-position: bottom center;
    background-repeat: no-repeat
}

.brand-link .brand-image {
    float: none;
    height: auto !important;
    margin: 0 !important;
    display: inline-block;
    max-height: inherit;
    max-width: 100%
}

.text-sm .brand-link .brand-image {
    margin-left: .75rem;
    transition: margin-left .3s linear, opacity .3s ease, visibility .3s ease
}

.main-header .navbar-nav .nav-item .dropdown-menu {
    max-width: 250px
}

.main-header .navbar-nav .nav-item .dropdown-menu .dropdown-item {
    padding: .25rem .75rem
}

.main-header .navbar-nav .nav-item .dropdown-menu .dropdown-item i {
    margin-right: .2rem;
    margin-top: .2rem;
    text-align: center;
    width: 1.5rem;
    vertical-align: text-bottom
}

.main-header .navbar-nav .nav-item .dropdown-menu .dropdown-divider {
    margin: .25rem 0
}

.main-header .navbar-nav .nav-item .dropdown-menu .dropdown-divider:last-child {
    display: none
}

.main-header .navbar-nav .nav-item.nav-item-hello span {
    max-width: 120px;
    padding-right: 10px
}

.main-header .navbar-nav .nav-item.nav-item-hello span.text-split {
    -webkit-line-clamp: 1
}

.main-header .navbar-nav .nav-item .nav-link .badge {
    vertical-align: top;
    margin-top: -5px;
    margin-left: -4px
}

.table-responsive .table {
    min-width: 1000px
}

.badge {
    line-height: 1.1
}

.watermark-position {
    background-color: #eee;
    max-width: 355px;
    height: 370px;
    position: relative
}

.watermark-position label {
    margin-bottom: 0;
    position: absolute;
    width: 15px;
    height: 15px;
    cursor: pointer
}

.watermark-position label input {
    display: none
}

.watermark-position label img {
    position: absolute;
    z-index: 1;
    max-width: 50px;
    opacity: .6;
    -webkit-transition: .3s all;
    -moz-transition: .3s all;
    -o-transition: .3s all;
    transition: .3s all
}

.watermark-position label img:hover,
.watermark-position label img[src^=http] {
    opacity: 1
}

.watermark-position label:nth-child(1) {
    top: 15px;
    left: 15px
}

.watermark-position label:nth-child(1) img {
    top: -10px;
    left: -10px
}

.watermark-position label:nth-child(2) {
    top: 15px;
    left: calc(50% - 15px/2)
}

.watermark-position label:nth-child(2) img {
    top: -10px;
    left: 50%;
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%)
}

.watermark-position label:nth-child(3) {
    top: 15px;
    right: 15px
}

.watermark-position label:nth-child(3) img {
    top: -10px;
    right: -10px
}

.watermark-position label:nth-child(4) {
    top: calc(50% - 15px/2);
    right: 15px
}

.watermark-position label:nth-child(4) img {
    top: 50%;
    right: -10px;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%)
}

.watermark-position label:nth-child(5) {
    bottom: 15px;
    right: 15px
}

.watermark-position label:nth-child(5) img {
    bottom: -10px;
    right: -10px
}

.watermark-position label:nth-child(6) {
    bottom: 15px;
    left: calc(50% - 15px/2)
}

.watermark-position label:nth-child(6) img {
    bottom: -10px;
    left: 50%;
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%)
}

.watermark-position label:nth-child(7) {
    bottom: 15px;
    left: 15px
}

.watermark-position label:nth-child(7) img {
    bottom: -10px;
    left: -10px
}

.watermark-position label:nth-child(8) {
    top: calc(50% - 15px/2);
    left: 15px
}

.watermark-position label:nth-child(8) img {
    top: 50%;
    left: -10px;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%)
}

.watermark-position label:nth-child(9) {
    top: calc(50% - 15px/2);
    left: calc(50% - 15px/2)
}

.watermark-position label:nth-child(9) img {
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.form-filter-charts .select2-container {
    width: 100% !important
}

#apexMixedChart {
    overflow: hidden
}

.apexcharts-menu-icon {
    display: none
}

.form-time-static {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: stretch;
    justify-content: space-between
}

.form-time-static input {
    width: calc(100% - 130px);
    margin-right: 10px
}

.form-time-static button {
    width: 130px
}

.jconfirm .jconfirm-box .jconfirm-buttons {
    float: none !important;
    text-align: center
}

.form-search .btn {
    margin-bottom: 0
}

.tool-action a {
    float: left;
    cursor: pointer
}

.card-footer.sticky-top {
    background-color: #eceef1;
    position: sticky;
    top: 0;
    z-index: 11
}

.img-upload {
    max-width: 300px
}

.photoUpload-zone .photoUpload-detail {
    text-align: center;
    display: block;
    margin-bottom: 1.5rem
}

.photoUpload-zone .photoUpload-detail img {
    max-width: 100%;
    max-height: 250px
}

.photoUpload-zone .photoUpload-file {
    cursor: pointer;
    background-color: #f5f5f5;
    outline: 2px dashed #cdcdcd;
    outline-offset: 0;
    padding: 2rem .75rem;
    margin-bottom: 1rem;
    border-radius: .25rem;
    font-weight: 400 !important;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear
}

.photoUpload-zone .photoUpload-file.drag-over {
    outline-offset: -10px;
    background-color: #fff9f9
}

.photoUpload-zone .photoUpload-file input {
    display: none
}

.photoUpload-zone .photoUpload-file i:hover {
    opacity: .9
}

.photoUpload-zone .photoUpload-file i {
    color: #6c7d8f;
    font-size: 55px;
    margin-bottom: .75rem
}

.photoUpload-zone .photoUpload-file p {
    margin: 0;
    color: #767978;
    font-size: 16px
}

.photoUpload-zone .photoUpload-file .photoUpload-drop {
    margin-bottom: .5rem
}

.photoUpload-zone .photoUpload-file .photoUpload-or {
    font-size: 14px;
    margin-bottom: .75rem
}

.photoUpload-zone .photoUpload-file .photoUpload-choose {
    color: #fff
}

.photoUpload-zone .photoUpload-dimension {
    font-weight: 700
}

.upload-file-label {
    cursor: pointer;
    width: 100%;
    max-width: 300px
}

.scroll-bar::-webkit-scrollbar {
    width: 10px
}

.scroll-bar::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #eee
}

.scroll-bar::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #999
}

.scroll-bar::-webkit-scrollbar-thumb:window-inactive {
    background: #999
}

.text-split {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 3
}

.color-preview {
    display: inline-block;
    width: 100%;
    max-width: 65px;
    height: 35px
}

.my-checkbox {
    width: 17px;
    height: 17px;
    min-height: inherit;
    padding: 0;
    margin: auto
}

.my-checkbox .custom-control-input {
    cursor: pointer;
    z-index: 1;
    width: 100%;
    height: 100%
}

.my-checkbox .custom-control-label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.my-checkbox .custom-control-label::after,
.my-checkbox .custom-control-label::before {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.form-control-mini {
    width: 50px;
    padding: .25rem;
    text-align: center;
    line-height: normal;
    font-size: 14px
}

.form-control-mini::-webkit-inner-spin-button,
.form-control-mini::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0
}

.form-control.no-validate:valid {
    border-color: #ced4da;
    background: 0 0;
    padding: .375rem .75rem
}

.my-custom-file input {
    cursor: pointer
}

.my-custom-file label {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 77px;
    padding-top: .5rem
}

.my-custom-file label::after {
    padding-top: .5rem
}

.price-cart-detail span {
    display: block
}

.price-new-cart-detail {
    color: red
}

.price-old-cart-detail {
    text-decoration: line-through
}

.title-money-cart-detail {
    text-align: right !important;
    padding-right: 10px !important;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 13px
}

.cast-money-cart-detail {
    color: red;
    font-weight: 700;
    font-size: 15px;
    text-align: right !important;
    padding-right: 15px !important
}

.label-filer-gallery {
    word-break: break-word
}

.alert-sort-filer {
    display: none
}

.jFiler-input-dragDrop {
    width: 100%
}

.jFiler-items-grid.row {
    margin-left: -7.5px
}

.jFiler-items-grid.scroll-bar {
    max-height: 560px;
    overflow-x: hidden;
    overflow-y: scroll
}

.jFiler-items-grid .jFiler-item .jFiler-item-container {
    margin: 0;
    margin-bottom: 1rem;
    padding: 5px;
    box-shadow: none
}

.jFiler-items-grid .jFiler-item .jFiler-item-container .jFiler-item-assets {
    margin-top: 0;
    padding: 5px 0
}

.jFiler-items-grid .jFiler-item .jFiler-item-container .jFiler-item-assets .pull-left {
    float: none
}

.jFiler-items-grid .jFiler-item .jFiler-item-container .jFiler-item-assets .pull-left li {
    display: block
}

.jFiler-items-grid .jFiler-item .jFiler-item-container .jFiler-item-assets .pull-left li .jFiler-jProgressBar {
    width: 100%;
    margin: 0
}

.jFiler-items-grid .jFiler-item .jFiler-item-container .jFiler-item-assets .pull-left li .jFiler-jProgressBar .bar {
    float: none
}

.jFiler-items-grid .jFiler-item .jFiler-item-container .jFiler-item-assets .pull-right {
    float: none;
    text-align: center
}

.jFiler-items-grid .jFiler-item .jFiler-item-container .jFiler-item-thumb {
    width: 100%;
    height: auto;
    min-height: inherit
}

.jFiler-items-grid .jFiler-item .jFiler-item-container .jFiler-item-thumb .jFiler-item-thumb-image {
    max-height: 150px;
    position: relative
}

.jFiler-items-grid .jFiler-item .jFiler-item-container .jFiler-item-thumb .jFiler-item-thumb-image img {
    max-width: 100%;
    width: 100% !important
}

.jFiler-items-grid .jFiler-item .jFiler-item-container .jFiler-item-thumb .jFiler-item-thumb-image i {
    position: absolute;
    top: calc(50% - 25px/2);
    left: calc(50% - 25px/2);
    color: #ffc107;
    width: 25px;
    height: 25px;
    font-size: 25px;
    text-align: center;
    line-height: 25px;
    display: none
}

.jFiler-items-grid .jFiler-item .jFiler-item-container .jFiler-item-thumb .jFiler-item-info {
    padding: 0 5px
}

.jFiler-items-grid .jFiler-item .jFiler-item-container .jFiler-item-info .jFiler-item-title b,
.jFiler-items-grid .jFiler-item .jFiler-item-container .jFiler-item-thumb .jFiler-item-info .jFiler-item-title {
    font-weight: 400
}

.jFiler-items-grid .jFiler-item.my-jFiler-item.moved {
    cursor: pointer
}

.jFiler-items-grid .jFiler-item.my-jFiler-item.moved.ghostclass .jFiler-item-container {
    background: #fddf83;
    opacity: .85
}

.jFiler-items-grid .jFiler-item.my-jFiler-item.selected .jFiler-item-container {
    border-color: #ffc107;
    opacity: .85
}

.jFiler-items-grid .jFiler-item.my-jFiler-item.selected .jFiler-item-container:before {
    content: "";
    position: absolute;
    width: 35px;
    height: 35px;
    z-index: 1;
    background-color: #ffc107;
    top: calc(50% - 35px/2);
    left: calc(50% - 35px/2);
    border-radius: 100%
}

.jFiler-items-grid .jFiler-item.my-jFiler-item.selected .jFiler-item-container:after {
    content: "";
    position: absolute;
    left: calc(50% - 9px/2);
    top: calc(50% - 25px/2);
    width: 10px;
    height: 20px;
    z-index: 2;
    border: solid #fff;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg)
}

.jFiler-items-grid .jFiler-item.my-jFiler-item.selected .jFiler-item-container .jFiler-item-inner {
    opacity: .7
}

.jFiler-items-grid .jFiler-item.my-jFiler-item.moved:not(.selected) .jFiler-item-container .jFiler-item-thumb .jFiler-item-thumb-image img {
    -ms-filter: brightness(70%);
    -webkit-filter: brightness(70%);
    -moz-filter: brightness(70%);
    -o-filter: brightness(70%);
    filter: brightness(70%)
}

.jFiler-items-grid .jFiler-item.my-jFiler-item.moved:not(.selected) .jFiler-item-container .jFiler-item-thumb .jFiler-item-thumb-image i {
    display: block
}

.SumoSelect .select-all {
    height: auto !important;
    padding: 8px 0 8px 35px !important
}

.SumoSelect label {
    margin-bottom: 0;
    font-weight: 400 !important;
    display: block
}

.SumoSelect>.CaptionCont {
    border: 1px solid #ced4da;
    padding: .46875rem .75rem;
    border-radius: 4px
}

.SumoSelect>.CaptionCont>span.placeholder {
    color: #444;
    font-style: unset
}

.SumoSelect>.CaptionCont>label>i {
    background-size: 10px;
    opacity: .6
}

.SumoSelect .select-all>span i,
.SumoSelect>.optWrapper.multiple>.options li.opt span i {
    top: 1px
}

.SumoSelect.open>.CaptionCont,
.SumoSelect:focus>.CaptionCont,
.SumoSelect:hover>.CaptionCont {
    box-shadow: 0 0 2px #80bdff;
    border-color: #80bdff
}

.SumoSelect.open .search-txt {
    padding: .46875rem .75rem
}

.SumoSelect.open>.optWrapper {
    top: 40px
}

.form-group-category .SumoSelect {
    width: 100%
}

.placeholder {
    background-color: transparent !important;
    opacity: 1 !important
}

.was-validated select.form-control:invalid {
    background-position: right calc(.375em + .6rem) center
}

.was-validated select.form-control:valid {
    background-position: right calc(.375em + .6rem) center
}

select.form-control option:disabled {
    color: #b8babb;
    font-style: italic
}

.form-group-category .select2-container {
    width: 100% !important
}

.select2-container--default .select2-selection--single {
    height: calc(2.25rem + 2px) !important
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    margin-top: -3px !important
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    margin-top: 3px !important
}

.pagination {
    flex-wrap: wrap
}

@media(max-width:1201px) {
    .watermark-position {
        max-width: 300px;
        height: 300px
    }
}

@media(max-width:641px) {
    .main-header .navbar-nav .nav-item .nav-link {
        padding: .35rem .55rem !important
    }
}

@media(max-width:569px) {
    .form-search {
        width: 100%;
        margin-left: 0 !important;
        margin-top: .75rem !important
    }
}

@media(max-width:469px) {
    .card-body {
        padding: .75rem
    }

    .card-title-order {
        width: 100%;
        margin-bottom: .75rem
    }

    .btn-export-excel {
        margin-left: 0 !important
    }

    .card-footer {
        padding: .75rem
    }

    .card-footer .btn {
        margin-bottom: .25rem
    }
}

@media(max-width:401px) {

    .label-filer,
    .main-header .navbar-nav .nav-item.nav-item-hello span {
        display: none
    }
}

.badge {
    font-size: 13px !important
}

.nav-treeview .nav-item a {
    padding-left: 2rem
}


.comment-title {
    font-size: 18px
}

.comment-show {
    display: block !important
}

.comment-point {
    font-size: 45px;
    color: red
}

.comment-star {
    font-size: 0;
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-bottom: .5rem
}

.comment-star span {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    overflow: hidden;
    text-align: left;
    white-space: nowrap
}

.comment-star i {
    background-color: #fff;
    display: inline-block;
    margin: .1rem;
    color: #b8b8b8;
    text-rendering: auto;
    font-size: 20px
}

.comment-star i:nth-child(1) {
    margin-left: 0
}

.comment-star span i {
    color: #ffc120
}

.comment-progress {
    width: 100%;
    margin-bottom: .375rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.comment-progress:last-child {
    margin-bottom: 0
}

.comment-progress .progress {
    height: 12px;
    margin-right: 10px;
    margin-left: 5px;
    width: calc(100% - 90px);
    border-radius: 10px;
    background-color: #fff;
    border: solid 1px #e9ecef;
}

.comment-progress .progress-bar#has-rate {
    background-color: var(-)
}

.comment-progress .progress-num {
    font-size: 15px;
    width: 40px;
    text-align: center;
    color: var(--color-main);
    font-weight: bold;
}

.comment-progress .progress-total {
    font-weight: 600;
    text-align: left;
    color: #787878;
    width: 50px
}

.review-rating-star {
    font-size: 0
}

.review-rating-star-icon .fa {
    font-weight: 400;
    font-style: normal;
    display: inline-block;
    margin: .1rem;
    font-size: 21px;
    cursor: pointer;
    color: #f0c808
}

.review-rating-star-icon .fa.star-empty {
    color: #dedddc
}

.review-rating-star-icon .fa.star-not-empty {
    color: #f0c808
}

.review-rating-star-icon .fa:nth-child(1) {
    margin-left: 0
}

.review-fileuploader {
    padding: 20px 15px;
    text-align: center;
    background-color: #fff;
    cursor: pointer;
    border: 2px dashed #c2cdda;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.review-fileuploader .review-fileuploader-text {
    color: #90a0bc
}

.review-file-uploader .fileuploader {
    padding: 0;
    margin: 0;
    background: 0 0
}

.review-file-uploader .fileuploader-items .fileuploader-items-list {
    margin: 1rem -5px 0 -5px
}

.review-file-uploader .fileuploader-items .fileuploader-items-list:after {
    display: block;
    content: "";
    clear: both
}

.review-file-uploader .fileuploader-items .fileuploader-items-list .fileuploader-item {
    padding: 0;
    width: calc(100% / 7 - 10px);
    float: left;
    margin: 0 5px 5px 5px;
    border-bottom: 0
}

.review-file-uploader .fileuploader-items .fileuploader-items-list .fileuploader-item .columns {
    display: block
}

.review-file-uploader .fileuploader-items .fileuploader-items-list .fileuploader-item .column-thumbnail {
    width: auto;
    height: auto
}

.review-file-uploader .fileuploader-items .fileuploader-items-list .fileuploader-item .column-thumbnail .fileuploader-item-image {
    height: auto;
    padding: 50% 0
}

.review-file-uploader .fileuploader-items .fileuploader-items-list .fileuploader-item .column-thumbnail .fileuploader-item-image img {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-transform: none;
    transform: none
}

.review-file-uploader .fileuploader-items .fileuploader-items-list .fileuploader-item .column-title {
    padding: 0;
    margin-top: .5rem;
    text-align: center;
    display: none
}

.review-file-uploader .fileuploader-items .fileuploader-items-list .fileuploader-item .column-actions {
    margin: 0;
    position: absolute;
    top: 0;
    right: -5px
}

.review-file-uploader .fileuploader-items .fileuploader-items-list .fileuploader-item .column-infos input {
    border: 1px solid #ddd;
    border-radius: .25rem
}

.review-poster-video-avatar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start
}

.review-poster-video-avatar .avatar-detail {
    width: 95px;
    height: 95px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.review-poster-video-avatar .avatar-detail img {
    max-width: 95px;
    max-height: 95px
}

.carousel-comment-media .carousel-control a {
    opacity: 1;
    width: 45px;
    height: 45px;
    top: calc(50% - 45px / 2);
    bottom: inherit
}

.carousel-comment-media .carousel-control a span {
    cursor: pointer;
    color: #222;
    width: 45px;
    height: 45px;
    padding: 5px;
    text-align: center;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 12px 0 rgba(0, 0, 0, .12);
    box-shadow: 0 1px 12px 0 rgba(0, 0, 0, .12);
    border-radius: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.carousel-comment-media .carousel-control a.carousel-control-prev {
    left: 20px
}

.carousel-comment-media .carousel-control a.carousel-control-prev span {
    padding-right: 9px
}

.carousel-comment-media .carousel-control a.carousel-control-next {
    right: 20px
}

.carousel-comment-media .carousel-control a.carousel-control-next span {
    padding-left: 8px
}

.carousel-comment-media .carousel-indicators {
    position: static;
    margin: 0 0 .75rem 0;
    text-align: left;
    display: block
}

.carousel-comment-media .carousel-indicators li {
    width: auto;
    max-width: 60px;
    height: auto;
    text-indent: inherit;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    margin: 0 0 3px 0;
    border: 2px solid transparent;
    opacity: 1;
    cursor: -webkit-zoom-in;
    cursor: zoom-in
}

.carousel-comment-media .carousel-indicators li.active {
    border-color: #ffc120;
    cursor: -webkit-zoom-out;
    cursor: zoom-out;
    -webkit-transform: scale(1.05);
    transform: scale(1.05)
}

.carousel-comment-media .carousel-inner {
    max-width: 550px;
    -webkit-box-shadow: 0 1px 12px 0 rgba(0, 0, 0, .12);
    box-shadow: 0 1px 12px 0 rgba(0, 0, 0, .12)
}

.carousel-comment-media .carousel-inner .carousel-lists .carousel-comment-media-item-video #file-video {
    max-width: 100%;
    width: 100%;
    height: 500px;
    vertical-align: top;
    display: inline-block;
    background-color: #000
}

#form-reply {
    display: none
}

.comment-item {
    margin-bottom: 2rem
}

.comment-item-poster {
    /* width: 200px;
    margin-right: 30px; */
    text-align: center
}

.comment-item-letter {
    overflow: hidden;
    border-radius: 50%;
    background-color: #d3d2d3;
    color: #919090;
    width: 65px;
    height: 65px;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: top;
    line-height: 67px;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: .5rem
}

.comment-item-name {
    margin-bottom: .25rem;
    text-transform: capitalize
}

.comment-item-posttime {
    font-size: 12px;
    color: #999
}

/* .comment-item-information {
    width: calc(100% - 230px)
  } */

.comment-item-star {
    float: left;
    margin-right: 10px
}

.comment-item-star i {
    font-size: 17px
}

.comment-item-title {
    font-size: 15px;
    font-weight: 500
}

.comment-replies {
    position: relative;
    background: #f8f9fa;
    border: 1px solid #dfdfdf;
    padding: 1.75rem 1.5rem
}

.comment-replies:after {
    content: "";
    position: absolute
}

.comment-replies:before {
    content: "";
    position: absolute;
    z-index: 1;
    top: -13px;
    left: 10px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 13px solid #f8f9fa
}

.comment-replies:after {
    top: -14px;
    left: 9px;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-bottom: 14px solid #dfdfdf
}

.comment-replies-item {
    margin-bottom: 1.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start
}

.comment-replies-item:last-child {
    margin-bottom: 0
}

.comment-replies-letter {
    width: 45px;
    height: 45px;
    margin-right: 10px;
    line-height: 45px;
    padding-left: 1px;
    font-size: 14px;
    border-radius: 50%;
    background-color: #e5e3e5;
    color: #919090;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: top;
    font-weight: 500;
    text-align: center;
    margin-top: .125rem
}

.comment-replies-letter.admin {
    position: relative;
    background-color: #189eff;
    text-indent: 9999px;
    overflow: hidden
}

.comment-replies-letter.admin:before {
    content: "QTV";
    text-indent: 0;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 13px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.comment-replies-info {
    width: calc(100% - 55px)
}

.comment-replies-name {
    font-weight: 500;
    margin-bottom: .125rem
}

.comment-replies [class*=btn-load-more-] {
    border: 0;
    outline: 0;
    padding: 0;
    background: 0 0
}

.comment-media-play {
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%)
}

.comment-media-play svg {
    -webkit-box-shadow: 1px 1px 15px rgba(0, 0, 0, .3);
    box-shadow: 1px 1px 15px rgba(0, 0, 0, .3);
    border-radius: 50%;
    background-color: rgba(255, 255, 255, .15)
}

.comment-media-play svg .comment-media-play-stroke-dotted {
    opacity: 0;
    stroke-dasharray: 4, 5;
    stroke-width: 1px;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-animation: spin 4s infinite linear;
    animation: spin 4s infinite linear;
    -webkit-transition: opacity 1s ease, stroke-width 1s ease;
    transition: opacity 1s ease, stroke-width 1s ease
}

.comment-media-play svg .comment-media-play-stroke-solid {
    stroke-dashoffset: 0;
    stroke-dasharray: 300;
    stroke-width: 4px;
    -webkit-transition: stroke-dashoffset 1s ease, opacity 1s ease;
    transition: stroke-dashoffset 1s ease, opacity 1s ease
}

.comment-media-play svg .comment-media-play-icon {
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transition: -webkit-transform .2s ease-out;
    transition: -webkit-transform .2s ease-out
}

.comment-media-play:hover svg .comment-media-play-stroke-dotted {
    stroke-width: 4px;
    opacity: 1
}

.comment-media-play:hover svg .comment-media-play-stroke-solid {
    opacity: 0;
    stroke-dashoffset: 300
}

.comment-media-play:hover svg .comment-media-play-icon {
    -webkit-transform: scale(1.05);
    transform: scale(1.05)
}

.commentColor {
    background-color: #fffbf8;
    border: 1px solid #f9ede5;
}

.text-info.cap {
    text-transform: capitalize;
}

.text-info.bold {
    font-weight: bold;
}